<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{grain.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{grain.add.headline}]]</h1>
                <div>
                    <a th:href="@{/grains}" class="btn btn-secondary">[[#{grain.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('grain')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='grain', field='grainName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='grain', field='description', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='grain', field='price', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='grain', field='quantity', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='grain', field='seller', required=true, type='select')}" />
                <input type="submit" th:value="#{grain.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
