<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{grain.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{grain.list.headline}]]</h1>
                <div>
                    <a th:href="@{/grains/add}" class="btn btn-primary ms-2">[[#{grain.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${grains.empty}">[[#{grain.list.empty}]]</div>
            <div th:if="${!grains.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{grain.grainId.label}]]</th>
                            <th scope="col">[[#{grain.grainName.label}]]</th>
                            <th scope="col">[[#{grain.price.label}]]</th>
                            <th scope="col">[[#{grain.quantity.label}]]</th>
                            <th scope="col">[[#{grain.seller.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="grain : ${grains}">
                            <td>[[${grain.grainId}]]</td>
                            <td>[[${grain.grainName}]]</td>
                            <td>[[${grain.price}]]</td>
                            <td>[[${grain.quantity}]]</td>
                            <td>[[${grain.seller}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/grains/edit/{grainId}(grainId=${grain.grainId})}" class="btn btn-sm btn-secondary">[[#{grain.list.edit}]]</a>
                                    <form th:action="@{/grains/delete/{grainId}(grainId=${grain.grainId})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{grain.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
