<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{order.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{order.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/orders}" class="btn btn-secondary">[[#{order.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('order')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='order', field='orderId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='order', field='quantity', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='order', field='totalPrice', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='order', field='orderDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='order', field='buyer', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='order', field='grain', required=true, type='select')}" />
                <input type="submit" th:value="#{order.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
