<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Buyer</title>
</head>

<body>
    <div layout:fragment="content">
        <style>
            .dropdown-menu {
                display: none;
                position: absolute;
                z-index: 1000;
                min-width: 10rem;
                padding: .5rem 0;
                margin: 0;
                font-size: 1rem;
                color: #212529;
                text-align: left;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: .25rem;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }
        </style>
        <header class="container py-3 mb-4 border-bottom">
            <div class=" d-flex flex-wrap justify-content-between">
                <div class="d-flex flex-row">
                    <span>Filters</span>
                    <div class="border rounded-pill px-2 ms-2 me-2">
                        <a th:href="@{/buyer}"
                            class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
                            aria-expanded="false">
                            <span>All</span>
                        </a>
                    </div>
                    <div class="dropdown dropdown-hover ms-2 me-2">
                        <div class="border rounded-pill px-2">
                            <a href="#"
                                class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Category</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:each="category : ${categories}">
                                    <a class="dropdown-item" th:text="${category.name}"
                                        th:href="@{'/buyer/filter/category/' + ${category.id}}" href="#">Category</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown dropdown-hover ms-2 me-2">
                        <div class="border rounded-pill px-2">
                            <a href="#"
                                class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Seller</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:each="seller : ${sellers}">
                                    <a class="dropdown-item" th:text="${seller.userName}"
                                        th:href="@{'/buyer/filter/seller/' + ${seller.userId}}" href="#">Seller</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="justify-content-end">
                    <div>Cart <span class="badge bg-secondary">0</span></div>
                </div>
            </div>
        </header>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div th:if="${products.empty}">No Product Found</div>
                <div th:if="${!products.empty}">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" th:each="product : ${products}">
                            <div class="card shadow-sm">

                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    th:src="@{'/product/thumbnail/' + ${product.productId}}">

                                <div class="card-body">
                                    <p class="card-text" th:text="${product.description}"></p>
                                    <!-- Add remaining stock -->
                                    <p class="card-text">Remaining Stock: <span th:text="${product.quantity}"></span>
                                    </p>
                                    <!-- Add seller ID -->
                                    <p class="card-text">Seller ID: <span th:text="${product.user}"></span></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{'/order/'+${product.productId}}" type="button"
                                                class="btn btn-sm btn-outline-secondary">Order
                                            </a>

                                        </div>
                                        <small class="text-body-secondary" th:text="${product.price}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>