<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{message.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{message.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/messages}" class="btn btn-secondary">[[#{message.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('message')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='message', field='messageId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='message', field='message', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='message', field='sendDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='message', field='sender', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='message', field='receiver', required=true, type='select')}" />
                <input type="submit" th:value="#{message.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
